<div data-controller="form-filter" class="my-4">
  <%= form_with(scope: :filter, url: portfolios_path, method: :get, class: "form-inline") do |form| %>
    <div class="container">
      <div class="row">
        <div class="d-flex align-items-center justify-content-center">
          <div class="form-floating mx-1">
            <%= form.select(
              :year_id,
              options_for_select(@select_by_available_years),
              { include_blank: true },
              {
                class: "form-select border-0 bg-light shadow-sm rounded-4 text-center",
                id: "years_select",
                required: true,
                aria: { label: "Select year" },
                data: { form_filter_target: "years", action: "change->form-filter#remoteselect" }
              }) %>
            <label>Ano</label>
          </div>

          <div class="form-floating mx-1">
            <%= form.select(
              :state_id,
              options_for_select([]),
              { include_blank: true },
              {
                class: "form-select border-0 bg-light shadow-sm rounded-4 text-center",
                id: "states_select",
                required: true,
                aria: { label: "Select state" },
                data: { form_filter_target: "states"}
              }) %>
            <label>Estado</label>
          </div>
          <%= form.submit "Filtrar", class: "btn btn-sm btn-outline-dark border-0 mx-1 rounded-3 shadow-sm", turbo_frame: :filter_field  %>
        </div>
      </div>
    </div>
  <% end %>
</div>
