<%= turbo_frame_tag :upload_data do %>
  <div class="d-flex align-items-center justify-content-end mb-2">
    <%= link_to('< Voltar', root_path, class: "btn btn-sm btn-outline-dark border-0 rounded-3 shadow-sm") %>
  </div>

  <%= render "form", portfolio: @portfolio %>
<% end %>
